In [1]:
#import dependancies
import pandas as pd
import gmaps
import requests
# Import the API key.
from goog_config import goog_config

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hermanus,ZA,2022-11-14 00:16:48,-34.4187,19.2345,52.81,86,10,7.74
1,1,Kaeo,NZ,2022-11-14 00:16:48,-35.1000,173.7833,71.33,66,2,5.21
2,2,Jamestown,US,2022-11-14 00:12:23,42.0970,-79.2353,35.19,76,100,11.50
3,3,Dryden,CA,2022-11-14 00:16:49,49.7833,-92.7503,19.69,86,100,3.44
4,4,Georgetown,MY,2022-11-14 00:15:19,5.4112,100.3354,80.24,92,20,0.00

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=goog_config)

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))