# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from goog_config import goog_config

In [2]:
# Configure gmaps
gmaps.configure(api_key=goog_config)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [3]:
# Read the WeatherPy_vacation.csv into a DataFrame
file_path = "WeatherPy_vacation.csv"
vacation_df = pd.read_csv(file_path)

# Display sample data
vacation_df.head()

,Unnamed: 0.1,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Hotel Name
0,9,9,Puerto Asis,CO,0.5133,-76.5007,73.17,98,80,1.79,broken clouds,Ayawaska Hostal
1,10,10,Butaritari,KI,3.0707,172.7902,80.44,81,19,13.56,few clouds,Isles Sunset Lodge
2,11,11,Vaini,TO,-21.2000,-175.2000,84.36,70,75,3.44,broken clouds,Keleti Beach Resort
3,13,13,Kalmunai,LK,7.4167,81.8167,75.00,81,2,4.97,clear sky,VS Villa
4,16,16,Kapaa,US,22.0752,-159.3190,82.38,74,75,18.41,broken clouds,Sheraton Kauai Coconut Beach Resort

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [4]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [5]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [7]:
#Used to view column names
vacation_df.head(1)

,Unnamed: 0.1,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Hotel Name
0,9,9,Puerto Asis,CO,0.5133,-76.5007,73.17,98,80,1.79,broken clouds,Ayawaska Hostal

In [8]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df["City"] == "Acapulco" ]
vacation_end = vacation_df.loc[vacation_df["City"] == "Acapulco" ]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Lazaro Cardenas" ]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Zirandaro" ]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Puerto Escondido" ]

#used to check one of the variable outputs
vacation_start

,Unnamed: 0.1,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Hotel Name
89,281,281,Acapulco,MX,16.8634,-99.8901,78.93,83,12,6.96,few clouds,HS Hotsson Smart Acapulco

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [12]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

#used to check one of the variable outputs
start

(16.8634, -99.8901)

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [13]:
import gmaps.datasets
# Define a new figure object
fig = gmaps.figure()

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

# Add the layer to the map
fig.add_layer(vacation_itinerary)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [14]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,Unnamed: 0.1,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Hotel Name
0,281,281,Acapulco,MX,16.8634,-99.8901,78.93,83,12,6.96,few clouds,HS Hotsson Smart Acapulco
1,197,197,Lazaro Cardenas,MX,17.9583,-102.2000,77.95,81,95,3.74,overcast clouds,HOTEL QUINTA ANTIGUA
2,626,626,Zirandaro,MX,18.4500,-100.9833,80.31,62,40,2.55,scattered clouds,El Naranjo
3,490,490,Puerto Escondido,MX,15.8500,-97.0667,81.43,65,40,3.44,scattered clouds,Aldea del Bazar Hotel and Spa

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [19]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

#check locations output
locations

       Lat       Lng
0  16.8634  -99.8901
1  17.9583 -102.2000
2  18.4500 -100.9833
3  15.8500  -97.0667

In [21]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations)

# Define a new figure object
fig = gmaps.figure()

# Add the layer to the map
fig.add_layer(marker_layer)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))